* {
  font-family: fantasy;
  box-sizing: border-box;
}
body {
  width: 100%;
  position: relative;

  .wallpaper {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    max-height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    // background-color: red;
    z-index: 9;
    color: white;
    top: 0;
    .left {
      padding-left: 0.9rem;
      width: 20%;
      h1 {
        font-weight: 300;
        font-size: 3dvw;
        text-transform: uppercase;
      }
    }

    .center {
      display: flex;
      gap: 10rem;
      align-items: center;
      justify-content: space-between;
      transition: all 0.8s ease-in;
      width: 40%;

      .links {
        display: flex;
        list-style: none;
        font-size: 1rem;
        gap: 1rem;
        li {
          font-family: sans-serif;
          font-size: 1.2dvw;
          font-weight: 700;
        }
      }
      .login_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .login {
          width: 40%;
          font-size: 1.3dvw;
          font-family: sans-serif;
          color: white;
          text-decoration: none;
          text-transform: capitalize;
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55%;

          .icon {
            display: flex;
            align-items: center;
            width: 60px;
            height: 60px;

            i {
              font-size: 1.2dvw;
            }
          }
        }
      }
    }
    .center.show {
      display: flex;
      transition: all 0.8s ease-in;
    }

    .right {
      padding-right: 2rem;
      height: 100%;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      display: flex;
      align-items: center;
      .cart {
        padding: 0;
        width: 100%;
        display: flex;
        font-weight: 300;
        font-family: sans-serif;
        align-items: center;
        justify-content: center;
        i {
          padding: 0;
          margin: 0;
          font-size: 1.7dvw;
        }
      }

      .icon {
        // display: none;
        .menu {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1;
          flex-direction: column;
          cursor: pointer;
          position: relative;
          span {
            width: 50px;
            height: 3px;
            font-weight: lighter;
            background-color: black;
            margin: 4px;
            transition: transform 0.19s linear;
          }
          .closer.top {
            transform: rotate(45deg);
            position: relative;
            top: 10px;
          }
          .closer.bottom {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .scrolled {
    background: black;
  }
  .mother-box {
    margin-bottom: 20rem;
    .container {
      height: 100vh;
      width: 100%;
      background: url(https://images.squarespace-cdn.com/content/v1/5ee2684b693dbe1560bd2b67/1596048731669-4AUZ14ZOXBGPS4T5JGXH/drive-banner.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      // padding-inline: 2rem;
      position: relative;

      .hero {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-block: 20rem;

        .content {
          h1 {
            font-size: 7dvw;
            font-weight: 300;
            color: white;
          }
          .btn {
            display: flex;
            width: 40%;
            align-items: center;
            justify-content: center;
            button {
              border-radius: 35px;
              background-color: transparent;
              outline: none;
              border: 2px solid white;
              padding: 20px;
              padding-inline: 45px;
              font-size: 1.2rem;
              font-family: sans-serif;
              font-weight: 700;
              color: white;
              margin-bottom: -33px;
            }
          }
        }
      }
    }

    section.Sections {
      display: flex;
      position: relative;
      // height: fit-content;
      flex-direction: column;
      // align-items: center;
      .blackbox {
        background: black;
        min-height: 800px;
        color: white;
        display: flex;
        flex-direction: column;

        .first {
          display: flex;
          padding: 14px;
          padding-block: 40px;
          align-items: center;
          max-height: 95vh;
          h1 {
            font-size: 4.5dvw;
            font-weight: 300;
            width: 60%;
          }
          p {
            font-size: 1.6dvw;
            line-height: 2rem;
            width: 40%;
            font-family: sans-serif;
          }
        }
        .second {
          display: flex;
          // padding-inline: 20px;
          min-height: 100vh;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          // border: 2px solid red;
          .img {
            width: 80%;
            // border: 2px solid red;
            aspect-ratio: 1;
            background: url(https://images.squarespace-cdn.com/content/v1/5ee2684b693dbe1560bd2b67/1596051118217-D4NRSLWZI4MUYGR072IO/image-asset.png?format=1500w);
            background-size: cover;
            background-repeat: no-repeat;
          }
          .blackbox_img {
            height: 100%;
            // background-color: blue;

            &:first-child {
              margin-top: 80px;
            }
            &:last-child {
              // background-color: red;
              margin-left: -4rem;
              height: 100%;
              width: 33%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
        }
        .third {
          font-family: sans-serif;
          .subheader {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-weight: 300;
              font-size: 4dvw;
              width: 50%;
              text-align: center;
              padding: 10px;
              margin: 0;
            }
            p {
              font-family: sans-serif;
              font-size: 1.6dvw;
              width: 50%;
              padding: 20px;
              margin: 0;
            }
          }
          .outline {
            padding: 20px;
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            font-family: sans-serif;
            .list {
              display: flex;
              flex-direction: column;
              font-family: sans-serif;
              gap: 1rem;
              li {
                font-family: sans-serif;
              }
            }
          }
        }
      }
      .form {
        padding-block: 60px;
        width: 95%;
        display: flex;
        align-items: center;
        background: white;
        justify-content: space-between;
        .left {
          width: 40%;
          padding: 20px;
          align-self: flex-start;
          h1 {
            font-size: 4dvw;
            font-weight: 300;
            margin: 0;
            padding: 20px;
          }
          p {
            font-family: sans-serif;
            line-height: 1.8rem;
            font-size: 1.4dvw;
          }
        }
        .right {
          width: 50%;
          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-family: sans-serif;
            p {
              text-transform: capitalize;
              font-family: sans-serif;
              font-weight: 600;

              span {
                opacity: 0.5;
                font-family: sans-serif;
              }
            }
            .row {
              display: flex;
              gap: 10px;
              font-family: sans-serif;
              width: 100%;

              .input {
                width: 100%;
                label {
                  font-weight: 600;
                  text-transform: capitalize;
                  font-family: sans-serif;

                  span {
                    opacity: 0.5;
                    font-family: sans-serif;
                  }
                }
                input {
                  width: 100%;
                  color: #b3cadd;
                  padding: 15px;
                  font-family: sans-serif;
                }
              }
            }
            .btn {
              font-family: sans-serif;

              button {
                font-family: sans-serif;
                text-transform: capitalize;
                padding: 20px;
                padding-inline: 40px;
                border-radius: 70px;
                font-size: 1.2em;
                background-color: white;
                border: 1.5px solid black;
              }
            }
          }
        }
      }
      .quote {
        padding: 20px;
        background: url(https://images.squarespace-cdn.com/content/v1/61b9fe63a66edc2d99f5ace0/1211f1b9-340b-46bd-9bba-9fac9ef43562/milan+2.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        p {
          text-align: center;
          width: 70%;
          font-size: 5dvw;
        }
        small {
          font-family: sans-serif;
          font-size: 1.3dvw;
        }
      }
      .gallery {
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .up {
          padding: 40px;
          padding-inline: 100px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          background: black;
          color: white;
          font-weight: 400;
          .text {
            width: 46%;
            h1 {
              font-weight: 400;
              font-size: 3.6dvw;
              text-align: center;
            }
            h3 {
              font-family: arial;
              text-align: center;
              font-weight: 300;
            }
          }
        }

        .middle {
          // border: 2px solid red;
          display: flex;
          width: 100%;
          height: 50%;
          box-sizing: border-box;
          .g_img {
            width: calc(100% / 6);
            padding: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
          }
        }
        .down {
          background: black;
          padding-inline: 30px;
          padding-block: 50px;
          .box {
            width: 100%;
            margin: 0 auto;
            border-bottom: 2px solid;
            padding: 20px;
            color: white;
            display: flex;
            justify-content: space-between;
            .left {
              width: 40%;
              display: flex;
              flex-direction: column;
              h1 {
                padding: 20px;
                font-size: 3.5dvw;
                margin: 0;
                font-weight: 300;
              }
              p {
                font-size: 1.3dvw;
                font-family: sans-serif;
                font-weight: 300;
                line-height: 2em;
              }
            }
            .right {
              display: flex;
              gap: 10px;
              align-items: center;
              .input {
                input {
                  padding: 20px;
                  padding-block: 20px;
                  padding-inline: 50px;
                  outline: none;
                  border: none;
                  &::placeholder {
                    font-family: sans-serif;
                    font-size: 1.3dvw;
                  }
                }
              }
              button {
                font-family: arial;
                padding: 20px;
                border-radius: 50px;
                padding-inline: 40px;
                color: white;
                background: transparent;
                border: 1px solid white;
              }
            }
          }
        }
      }
    }
  }
  footer.sectionfooter {
    margin-top: 25rem;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 30px;

    .leftside {
      width: 30%;
      display: flex;
      gap: 2rem;
      align-items: center;

      .support {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1 {
          font-weight: 300;
        }
        aside {
          font-family: sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          a {
            font-family: sans-serif;
            color: white;
            text-align: center;
          }
        }
      }
      .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h1.contact {
          font-weight: 300;
          text-align: center;
          width: 100%;
          height: 50%;
          color: white;
        }
        aside {
          font-family: sans-serif;
          display: flex;
          height: 50%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          a {
            font-family: sans-serif;
            color: white;
            text-align: center;
          }
          p {
            color: white;
          }
        }
      }
    }
    .rightside {
      h1 {
        font-size: 2.5dvw;
        color: white;
        font-weight: 300;
      }
    }
  }
}

// mobile view

@media (max-width: 768px) {
  body {
    position: relative;
    height: 100vh;
    width: 100vw;
    .wallpaper {
      display: flex;
      align-items: start;
      width: 100%;
      border: 1px solid black;
      // position: absolute;
      // inset: 0;
      top: 0;
      z-index: 98;
      // padding-inline: 3rem;

      .left {
        display: flex;
        align-items: center;
        height: 100%;
        h1 {
          padding: 0;
          font-size: 1.9rem;
          font-weight: 300;
        }
      }

      .right {
        padding-right: 1rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        width: 40%;

        .icon {
          font-size: 1.5rem;
          display: block;
        }
        .cart {
          font-size: 1.6rem;
          i {
            font-size: 1.6rem;
          }
        }
      }
      .center.show {
        display: flex;
        opacity: 1;
        transform: translateY(-80px);
        transition: all 0.8s ease-in;
        background-color: white;
      }

      .center {
        position: absolute;
        bottom: -180px;
        opacity: 0;
        width: 100%;
        padding: 10px;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        transition: all 0.8s ease-in;

        * {
          width: 100%;
          margin-block: 0;
        }

        .links {
          display: flex;
          flex-direction: column;
          font-size: 2rem;
        }

        .login {
          font-size: 2rem;
        }

        .icons {
          width: 50%;

          .icon {
            width: 100px;
            height: 100px;
          }
        }
      }

      .left {
        padding-left: 0.5rem;
      }
    }
    .wallpaper.white {
      background-color: white;
      inset: 0;
    }
    .mother-box {
      margin-bottom: 15rem;
      .container {
        background: rgba(0, 0, 0, 1);

        .content {
          display: flex;
          padding: 0;
          flex-direction: column;
          width: 100%;
          background-color: green;
        }
        .hero {
          flex-direction: column;

          background-color: red;
          border: 2px solid red;

          h1 {
            background-color: aqua;
            width: 100%;
            font-size: 4.5rem;
          }
          .btn {
            width: 100%;
            background-color: aqua;
            button {
              width: 100%;
            }
          }
        }
      }
      section.Sections {
        .blackbox {
          .first {
            flex-direction: column;
            width: 100%;
            padding-inline: 0.7rem;
            h1 {
              width: 100%;
              font-size: 2.9rem;
            }
            p {
              font-size: 1.2rem;
              width: 100%;
            }
          }
          .third {
            .subheader {
              display: flex;
              flex-direction: column;
              h1 {
                font-size: 2.2rem;
              }
              p {
                font-size: 1.2rem;
                width: 100%;
              }
            }
            .outline {
              padding: 0;
              flex-direction: column;
              gap: 0;
              align-items: center;
              border: 2px solid red;
              .list {
                align-items: center;
              }
            }
          }
        }
        .form {
          flex-direction: column;
          .left {
            width: 100%;
            h1 {
              font-size: 1.4rem;
            }
            p {
              font-size: 1rem;
            }
          }
          .right {
            width: 100%;
          }
        }
        .gallery {
          .down {
            .box {
              flex-direction: column;
              .left {
                width: 100%;
                h1 {
                  font-size: 1.6rem;
                }
                p {
                  font-size: 1rem;
                }
              }
              .right {
                flex-direction: column;
                gap: 1rem;
                .input {
                  input {
                    &::placeholder {
                      font-size: 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    footer.sectionfooter {
      margin-top: 0rem;
      flex-direction: column;
      .leftside {
        .support {
          h1 {
            font-size: 1.3rem;
            aside {
              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .rightside {
        h1 {
          font-size: 1.3rem;
        }
      }
    }
  }

  /* CSS rules specific to phones */
}

//tablet view
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    position: relative;
  }

  .wallpaper {
    display: flex;
    width: 100%;
    position: relative;
    border: 2px solid;
    padding-inline: 2rem;
    //
    //dom
    .center.show {
      display: flex;
      position: absolute;
      opacity: 1;
      bottom: 0;
      transition: all 0.3s ease-in-out;
      background-color: white;
    }
    .left {
      padding-left: 2rem;
    }
    .center {
      // width: 200vw;
      padding: 10px;
      position: absolute;
      align-items: start;
      display: flex;
      opacity: 0;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      transition: all 0.3s ease-in-out;
      // top: 100px;
      height: 100vh;
      width: 100vw;

      * {
        width: 100%;
        margin-block: 0;
      }

      .links {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
      }

      .login {
        font-size: 2rem;
      }

      .icons {
        width: 50%;

        .icon {
          width: 100px;
          height: 100px;
          display: block;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0.4rem;

      .icon {
        display: block;
        font-size: 1.5rem;
      }
    }
  }
}
