
  
  
  
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NavbarSection{
    width: 100%;
    font-family:"Anton", sans-serif ;                          
    align-items: center;
}


.Navbar_container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 background-color: black;
 height: 100px;
 padding: 35px;
 align-items: center;
 align-content: center;
}

.Navbar_logo .logo a{
    color: #ffff;
    font-size: 35px;
    font-style:normal;
    text-decoration: none;
    list-style: none;
    /* font-weight: b; */
    text-transform: uppercase;

}

span {
    /* color: red; */
    font-family: inherit;
    text-transform: uppercase;
    /* font-weight: 500;   */
    font-size: 40px;
}


.navbar {

    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    

.Navbar_iconsContainer{
    display: flex;
    flex-direction: row;
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    padding: 20px;
    gap: 8rem;
}  

.Navbar_iconsContainer .login a{
    color: #ffff;
    text-decoration: none;

}

.Navbar_iconsContainer :nth-child(2)  i{
    font-size: 20px;
    color: #ffff;
    font-weight: lighter;
    text-decoration: none;
   

}

.icons a {
    text-decoration: none;
    gap: 2rem;
    
}

.Navbar_iconsContainer :nth-child(3)  i{
    font-size: 20px;
    color: #ffff;
    font-weight: lighter;

    
}  
.Navbar_iconsContainer span{
    color: #dcd6d6;
    font-size: 18px;
}
  .contain {
    background-image: url(../img/Stocksy_comp_2217174.jpg);
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 600px;
    /* margin: auto; */
  }
  
  
  .section1{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    /* background-color: bisque; */
    
  }
  
  .headwrap{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 40px;
    gap: 2rem;


     
  }
  
  /* Basic CSS styling  */
  .div-img img{
    width: 700px;
    

  }

  .right-contain{
    display: flex;
    flex-direction: column;
    width: 700px ;
  }
  .right-contain p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .right-contain img{
     width: 700px;
     padding-top: 25px;

  }

  .btn{
    display: flex;
    justify-content: space-between;
    color: #ca0123;
    gap: 1rem;
    padding: 20px;
    
    
  }

  span a{
    color: red;
    font-size: 46px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

  }
  span i{ color: red;
    font-size: 46px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    
  }



  .booking-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 3rem;
    top: 30px;
    padding-top: 60px;
  }

  .booking-btn h1{
     font-size: 50px;
     align-items: center;
     /* color: red; */
    
  }
  .booking-btn button{
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight:20;
    text-transform: uppercase;
    background-color: inherit;
    color: #454545;
    border-radius: 30px;
    border: 2px solid  #454545;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }


  .booking-btn button:hover{
    background: black;
    color: red;
  }

  .section6 {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family:"Anton", sans-serif ;   
  }
  
  
  .footer_section {
  
    padding: 50px 50px;
    color: white;
  }
  
  .top-footer_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: 30rem;
  }
  
  .left-footer_content h1 {
    font-size: 4em;
    font-weight: lighter;
    padding-bottom: 30px;
  }
  
  
  
  .left-footer_content p {
    width: 550px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
  }
  
  
  .right-footer_content {
    width: 100%;
    padding-top: 40px;
  
  
  }
  
  
  .right-footer_content input {
    width: 65%;
    font-family: sans-serif;
    font-size: 16px;
    /* color: #767676; */
    border: .5px solid black;
    background-color: #f0f0f0;
    padding: 22px;
  
  }
  
  .button-footer_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
  }
  
  .left-btn-footer_content {
    display: flex;
    gap: 15rem;
  }
  
  .left-btn-footer_content h1 {
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: lighter;
  }
  
  
  .footer-link .links {
    display: flex;
    flex-direction: column;
  
  }
  
  
  .footer-link .links a {
    font-family: sans-serif;
    font-weight: none;
    color: inherit;
    line-height: 1.5rem;
  }
  
  .left-btn-footer_content .Contact-info p {
    width: 150px;
    font-family: sans-serif;
    font-weight: none;
    line-height: 1.5rem;
  
  }
  
  .mygym h1 {
    font-size: 3em;
    font-weight: lighter;
  }
  
  .loaded {
    opacity: 1;
    /* Show element */
    top: 62%;
  }
  
  
